
<div class="card text-center mx-5 my-5 shadow">
        <div class="card-header">
            <h1>Doctor Portal</h1>
        </div>
        <div class="card-body">
            <!-- get request to view the form to create prescription -->
        <a href="/prescriptions">
            <img
                src="../img/Issue Prescriptions.png"
                alt="issue Prescriptions"
            />
        </a>

        <a href="/patients/search">
            <img
                src="../img/Search_Patients.png"
                alt="search patients"
            />
        </a>

        <a href="/patients">
            <img
                src="../img/View All Patients.png"
                alt="view all patients"
            />
        </a>
        </div>
</div>
<%- include('footer') %>
