<%- include('head')%>
<div class="card text-center mx-5 my-5 shadow">
        <div class="card-header">
            <h1>Doctor Portal</h1>
        </div>
        <div class="card-body">
            <!-- get request to view the form to create prescription -->
        <a href="/prescriptions/issue">
            <img
                src="https://raw.githubusercontent.com/tielushko/Pharmacy-Portal/Kaitlyn/Cards%20%2B%20Images/Issue%20Prescriptions.png?token=AK7GUZEWD4PS4ENHBS2SVBLAPW24O"
                alt="issue Prescriptions"
            />
        </a>

        <a href="/patients/search">
            <img
                src="https://raw.githubusercontent.com/tielushko/Pharmacy-Portal/Kaitlyn/Cards%20%2B%20Images/Search_Patients.png?token=AK7GUZGJRBGLOG3KICWW2XDAPW3AG"
                alt="search patients"
            />
        </a>

        <a href="/patients">
            <img
                src="https://raw.githubusercontent.com/tielushko/Pharmacy-Portal/Kaitlyn/Cards%20%2B%20Images/View%20All%20Patients.png?token=AK7GUZBNSWNVDA5T6UQHDE3APW3AM"
                alt="view all patients"
            />
        </a>
        </div>
</div>
<%- include('footer') %>
