<footer class = "footer rounded">
    <div class = "container-fluid p-5 text-center text-light">
            Created by: Kaitlyn Forsberg, Adheesh Shenoy, Oleg Tielushko
    </div>
</footer>
</body>
</html>