<footer class = "footer rounded">
    <!-- <div class = "container-fluid p-5 text-center text-light"> -->
            <h6 class = "p-5 m-5 text-center">Created by: Kaitlyn Forsberg, Adheesh Shenoy, Oleg Tielushko</h6>
    <!-- </div> -->
</footer>
</body>
</html>