<div class="card text-center mx-5 my-5 shadow">
    <div class="card-header">
        <h1>Pharmacist Portal</h1>
    </div>
    <div class="card-body">
        <!-- get request to view the form to create prescription -->
        <a href="/prescriptions/search">
            <img
                src="../img/Search Medicine.png"
                alt="search prescription"
            />
        </a>

        <a href="/prescriptions/fulfill">
            <img
                src="../img/Fulfill Prescriptions.png"
                alt="fulfill prescription"
            />
        </a>

        <a href="/patients/search">
            <img
                src="../img/Search_Patients.png"
                alt="search patients"
            />
        </a>

        <a href="/patients">
            <img
                src="../img/View All Patients.png"
                alt="view all patients"
            />
        </a>

        <a href="/drugs">
            <img
                src="../img/manage_stock.png"
                alt="view medicine window"
            />
        </a>
    </div>
</div>
<%- include('footer') %>
