<%- include('head')%>
<div class="container">
    <div class="jumbotron">
        <h1>Pharmacist Portal</h1>

        <!-- get request to view the form to create prescription -->
        <a href="/prescriptions/search">
            <img
                src="https://raw.githubusercontent.com/tielushko/Pharmacy-Portal/Kaitlyn/Cards%20%2B%20Images/Search%20Prescription.png?token=AK7GUZELCBJTSKBVDMDBR7TAPW4YQ"
                alt="search prescription"
            />
        </a>

        <a href="/prescriptions/fulfill">
            <img
                src="https://raw.githubusercontent.com/tielushko/Pharmacy-Portal/Kaitlyn/Cards%20%2B%20Images/Fulfill%20Prescriptions.png?token=AK7GUZFHR7Q3A7IMT4OVDN3APW4BE"
                alt="fulfill prescription"
            />
        </a>

        <a href="/patients/search">
            <img
                src="https://raw.githubusercontent.com/tielushko/Pharmacy-Portal/Kaitlyn/Cards%20%2B%20Images/Search_Patients.png?token=AK7GUZGJRBGLOG3KICWW2XDAPW3AG"
                alt="search patients"
            />
        </a>

        <a href="/patients">
            <img
                src="https://raw.githubusercontent.com/tielushko/Pharmacy-Portal/Kaitlyn/Cards%20%2B%20Images/View%20All%20Patients.png?token=AK7GUZBNSWNVDA5T6UQHDE3APW3AM"
                alt="view all patients"
            />
        </a>

        <a href="/medicine">
            <img
                src="https://raw.githubusercontent.com/tielushko/Pharmacy-Portal/Kaitlyn/Cards%20%2B%20Images/Add%20Medicine.png?token=AK7GUZDXEFBRL62AFIK67NLAPW5DA"
                alt="view medicine window"
            />
        </a>
    </div>
</div>
<%- include('footer') %>
