<%- include('partials/head') %>

<h1 class="mt-5 px-3">Hello <%= user.name %>!</h1>

<% if (user.usr_type == 'pharmacist') { %> <%-
include('partials/pharmacist.ejs') %> <% } else if (user.usr_type == 'doctor')
{%> <%- include('partials/doctor') %> <% }%>
<a href="/users/logout">Logout</a>
