<form action="/prescriptions/search" method="GET">
    <div class="mb-3">
        <label for="patientName" class="form-label">Enter Patient's Name Here:</label>
        <input type="text" id="patientName" name="patientName" placeholder="Patient's Name" required
            class="form-control" />
        <label for="patientEmail" class="form-label">Enter Patient's Email Address Here:</label>
        <input type="email" id="patientEmail" name="patientEmail" placeholder="Patient's Email" required
            class="form-control" />
    </div>
    <button class="btn btn-primary">Submit</button>                            
</form>